.btn-add {
  float: right;
  margin-right: 10px;
}

.fields {
  margin-top: 1em;
}

.form-group.preview {
  text-align: center;
}

.drop-btn {
  width: 100%;
  display: inline-grid;
  padding-bottom: 0.5em;
}

.textStyle {
  width: 100%;
}

.form-info {
  word-wrap: break-word;
}

.inner {
  min-width: 400px;
  max-width: 500px;
  width: auto;
}
