/* *{
    margin: 0;
    padding: 0;
  }
  
  .page{
    height: 100vh;
    background-color: #512da8;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .container{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    
  }
  .heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
  
  }
  .img-holder{
    margin: auto;
    width: 150px;
    height: 150px;
    border: 3px black solid;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .img{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  #input[type="file"] {
      display: none;
  }
  .label{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .image-upload{
    margin: auto;
    width: 200px;
      height: 50px;
    color: white;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    cursor: pointer;
  } */
.fileContainer .uploadPictureContainer img.uploadPicture {
  width: auto;
}

.fileUploader {
  /* border: 1px solid #e1e1e1; */
}

.fileContainer {
  background: #fff;
  box-shadow: none;
  position: relative;
  border-radius: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in;
  height: 175px;
  /* margin-bottom: 100px */
}

.fileContainer p:empty {
  font-size: 12px;
  margin: 0;
}

.fileContainer .uploadPicturesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -51px;
  width: 300px;
  height: auto;
}
.uploadPicturesWrapper > div:empty {
  height: 1px;
}

.fileContainer .uploadPictureContainer {
  /* width: 285px; */
  /* height: 224px; */
  /* margin: 5%; */
  padding: 5px;
  background: #edf2f6;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: inherit; */
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #d0dbe4; */
  position: relative;
}

.fileContainer .deleteImage {
  position: absolute;
  right: unset;
  top: unset;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  width: 134px;
  height: 30px;
  left: 0;
  bottom: -45px;
  background-image: url(https://cdn.onlinewebfonts.com/svg/img_96165.png);
  background-position: left 4px top 3px;
  background-repeat: no-repeat;
  background-size: 17px 23px;
  background-color: transparent;
  color: black;
  overflow: hidden;
  text-indent: -156px;
}

.fileContainer .deleteImage:after {
  content: "Delete image";
  position: absolute;
  right: -45px;
  font-size: 16px;
}

.fileContainer .uploadPictureContainer {
  width: 100% !important;
}

.fileContainer .uploadPictureContainer img.uploadPicture {
  height: 135px;
}

.fileContainer .errorsContainer {
  max-width: 300px;
  font-size: 12px;
  position: absolute;
  z-index: 10;
  top: 35%;
  background: rgba(255, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 79%;
  border-radius: 6px;
}

.fileContainer .errorsContainer:empty {
  opacity: 0;
}

.fileContainer .chooseFileButton {
  padding: 6px 23px;
  /* background-image: url(./icon_upload.svg); */
  background-color: #c1c1c1;
  background-repeat: no-repeat;
  background-position: 50% 23%;
  background-size: 25%;
  border-radius: 0;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: none;
  width: 70%;
  height: 40px;
}

.fileContainer .chooseFileButton:hover {
  /* background-image: url(./icon_upload.svg); */
  background-color: #c1c1c1;
  background-repeat: no-repeat;
  background-position: 50% 23%;
  background-size: 25%;
}

.fields {
  margin-top: 1em;
}

.upload-file {
  display: flex;
}

.img {
  text-align: center;
  /* max-height: 200px !important; */
}

.profile-img {
  max-height: 250px;
}

.form-group.preview {
  /* max-height: 250px; */
  /* text-align: center; */
}

.info-form {
  text-align: left;
}

.formStyle {
  width: 100%;
  margin-right: 40;
}

.pStyle {
  display: flex;
  justify-content: space-between;
}

.applyStyle {
  margin: auto;
}

.editStyle {
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.profile-form {
  /* max-width: 400px !important; */
}

.preview {
  /* max-height: 250px; */
}